.component1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 510px; */
    width: 38%;
    height: 330px;
    padding: 53px 0 48px;
}
.city-name{
    font-size: 36px;
}
.time{
    font-size: 96px;
}
.date{
    font-size: 20px;
}

@media (max-width:1600px){
    .component1{
        height: 220px;
    }
    .city-name{
        font-size: 30px;
    }
    .time{
        font-size: 78px;
    }
    .date{
        font-size: 16px;
    }
}